.img-container {
    text-align: center;
    margin: 16px;
    padding: 16px;
    width: 90vw;
}

.imagem-capa {
    width: 100%;
    text-align: center;
}

.info-container {
    display: flex;
    padding-left: 100px;
}

.info-container p {
    margin: 0 8px;
}

.conteudo-container {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}