.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    box-shadow: 0px 1px 9px 0px #00000087;
}

.navbar > div {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar img {
    margin-right:50px;
    padding: 5px;
}

.navbar_user {
    margin-right: 10px !important;
    padding: 5px;
}