.container-bandeiras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-bandeira {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: center;
    min-width: 190px;
    margin: 16px;
    padding: 16px;
    box-shadow: 6px 6px 12px rgba(0,0,0, .2);
    text-align: center;
    cursor: pointer;
    transition: .6s;
}

.div-bandeira:hover {
    background: rgb(224, 212, 192);
}

.div-bandeira p {
    padding-top: 14px;
    margin: 0;
}