.list_item {
    margin: 0 4px;
    padding: 6px 12px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    list-style: none;
    background-color: white;
}

.list_item:hover {
    cursor:pointer;
    background-color: whitesmoke;
}

.list_item * {
    text-decoration: none;
}